<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
	<meta charset="UTF-8">
	<title>Head First AngularJS</title>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript">
		var model = {
			user : "FantasyDL",
			items : [{action : "Learn AngularJS", done : false},
					 {action : "Fall In Love", done : false},
					 {action : "Be A Real Man", done : false}]
					};
		var todoApp = angular.module("todoApp",[]);
		todoApp.controller("ToDoCtrl",function($scope){
			$scope.todo = model;
		});
	</script>
</head>
<body ng-controller="ToDoCtrl">
	<h1>{{todo.user}}'s To Do List</h1>
	<div>
		<input type="text">
		<button>ADD</button>
	</div>
	<table>
		<thead>
			<tr>
				<th>Description</th>
				<th>checkbox</th>
				<th>Done</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in todo.items" ng-show="item.done == false">
				<td>{{item.action}}</td>
				<td><input type="checkbox" ng-model="item.done"></td>
				<td>{{item.done}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
